server:
  port: 8080


spring:
  application:
    name: api-gateway


eureka:
      client:
        service-url: # â—Use `service-url`, not `serviceUrl`
          defaultZone: http://localhost:8761/eureka/